<!---------------------- Lists form -------------------------->
<% if flash[:failmsg].present? %>
  <div class="alert alert-danger">
    <%= flash[:failmsg] %>
  </div>
<% end %>
<div class="container-fluid flex-column p-2 top-menu">
  <div class="row">
    <div class="col-8" style="padding-left: 30px; padding-top: 10px;">
      <% if @list.id.present? %>
        <div class="edit-snippet">
          <h1><strong><span class="text-muted">Editing List:</span> <%=@list.name %></strong></h1>
        </div>
      <% else %>
        <h1><strong>New List</strong></h1>
      <% end %>
      <p style="font-style: italic;">
        <h3><span class="text-muted"><strong>For board:</span> <%=@board.name %></strong></h3>
      </p>
    </div>
    <div class="col" style="text-align: center; padding-top: 1.6rem;">
      <div class="row mx-auto">
        <div class="bottom-toolbar">
          <%= link_to 'Back to board', board_path(@board.id), :class =>"btn card-links top-menu-btn bottom-toolbar" %>
          <%= link_to 'Dashboard', dashboard_path, :class =>"btn card-links top-menu-btn bottom-toolbar" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="list-form-box">
  <div class="form-container">
    <div class="container-fluid flex-column">
      <div class="form-group">
        <%= form_for [@board, @list] do |form| %>
          <div class="field">
            <%= form.label :name %>
            <%= form.text_field :name, :maxlength => 40, :class => 'form-control'  %>
          </div>
          <p>
            <div class="field">
              <%= form.label :description %>
              <%= form.text_area :description, :maxlength => 120, size: "60x2", :class => 'form-control' %>
            </div>
          </p>
          <p>
            <div class="field">
              <% if @list.id? %>
                <%= form.label :position %>
                <%= form.select :position, (1..@board.lists.all.count) %>
              <% end %>
            </div>
          </p>
          <p>
            <div class="actions">
              <%= form.submit 'Create/update list', :class => 'btn pale-button'%>
            </div>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<!---------------------- End lists form -------------------------->
