<!---------------------- Lists form -------------------------->
<%= form_for [@board, @list] do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
