<!-------------------------List#Showing all Snippets----------------------------->
<div class='container main-box'>
  <% if notice.present? %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>
  <div class="container flex-column p-2 top-menu">
    <div class="row">
      <div class="col-8" style="padding-left: 30px; padding-top: 10px;">
        <h3><strong><span class="text-muted">snippets for list: </span><%= @list.name %></strong></h3>
        <p style="font-style: italic;">
          <%= @list.description.truncate(80) %>
        </p>
      </div>
      <div class="col list-topbar-menu" style="text-align: center;">
        <h3><strong><span class="text-muted">On board:</span> <%=@list.board.name %></span></strong></h3>
      <div class="row mx-auto">
        <div class="bottom-toolbar">
          <%= link_to 'New Snippet', new_list_snippet_path(@list.id), :class =>"btn card-links top-menu-btn bottom-toolbar" %>
          <%= link_to 'Back to board', board_path(@list.board_id), :class =>"btn card-links top-menu-btn bottom-toolbar" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container flex-column" style="margin-top: 20px;">
  <% if @list.snippets.empty? %>
    <div class="empty" style="padding-top: 20px;">
      <br>
      <h3><strong>No snippets found.</strong></h3>
      <br>
      <%= link_to image_tag('void.png', :class => 'empty-img'), new_list_snippet_path(@list.id) %>
    </div>
  <% end %>
  <!------------------- Responsive Grid - REUSE ME PLEASE ----------->
  <div class="grid-cards-parent">
    <% @list.snippets.each do |snip| %>
      <div class="grid-snip-cards">
        <div class="card-header-mint"><%= link_to snip.title.truncate(20), list_snippet_path(snip.list_id, snip.id) %></div>
        <p class="snip-description"><%= snip.description.truncate(35) %></p>
        <p>
          <pre><code class="mini-code-block container w-60"><%= snip.code_block.truncate(60) %></code></pre>
        </p>
        <span class="card-timestamp"><strong>Created: </strong><%= snip.created_at.strftime(" %m/%d/%Y at %H:%M  ") %></span>
        <div class="snippet-card-btns">
          <div class="btn-group btn-group-sm snippet-card-btn-group" role="group">
            <%= link_to 'Show', list_snippet_path(@list, snip.id), :class =>"btn card-links"%>
            <%= link_to 'Edit', edit_list_snippet_path(@list, snip.id), :class =>"btn card-links"%>
            <%= link_to 'Delete', list_snippet_path(@list, snip), method: :delete, data: { confirm: 'Are you sure? This will remove the snippet!' }, :class => "btn card-links"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!----------------- Responsive Grid - END ----------------------->
</div>
