<!-------------------------Lists#Show----------------------------->
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>
<p>
  <strong>Position:</strong>
  <%= @list.position %>
</p>
<h1>New Snippet</h1>
<%# <%= render 'form', snippet: @snippet %>
<%= link_to 'New Snippet', new_snippet_path(@list.id) %> |
<%# <%= link_to 'Edit', edit_board_list_path(@list) %> | 
<%= link_to 'Back', @board %>
