<div class="login-container">
  <div class="content">
    <div class="panel">
      <div class="auto-form-wrapper" style="padding: 20px;">
        <h1>Log In</h1>
        <% if flash[:failmsg].present? %>
          <div class="alert alert-warning">
            <%= flash[:failmsg] %>
          </div>
        <% end %>
        <p>
          <%= form_tag login_path do %>
            <span style="display: inline-block;"> <%= label_tag :email %></span>
            <%= email_field_tag :email, nil, class:'form-control'%>
          </p>
          <span style="display: inline-block;"> <%= label_tag :password %> </span>
          <%= password_field_tag :password, nil, class:'form-control'%>
          <p>
            <p><%= submit_tag 'Sign in', :class => "btn pale-button btn-lg btn-block login-button" %></p>
          <% end %>
          <a class="panel-footer" href="/users/new">New to codeTears? &nbsp;<span>Sign Up</span></a>
          <%# Not a user?<%= link_to 'Sign up', new_user_path, :class => 'nav-link active' %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
