<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
      <div class="row w-100">
        <div class="col-lg-4 mx-auto">
          <div class="auto-form-wrapper" style="border-radius: 15px; padding: 20px; background-color: #e3f2fd">
            <h1>Log In</h1>
            <% if flash[:failmsg].present? %>
              <div class="alert alert-warning">
                <%= flash[:failmsg] %>
              </div>
            <% end %>
            <p>
              <%= form_tag login_path do %>
                <span style="display: inline-block;"> <%= label_tag :email %></span>
                <%= email_field_tag :email, nil, class:'form-control'%>
              </p>
              <span style="display: inline-block;"> <%= label_tag :password %> </span>
              <%= password_field_tag :password, nil, class:'form-control'%>
              <p>
                <p><%= submit_tag 'Sign in', :class => "btn btn-info" %></p>
              <% end %>
              <div class="text-block text-center my-3">
                Not a user?<%= link_to 'Sign up', new_user_path, :class => 'nav-link active' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
