<div class="login-container">
  <div class="content">
    <div class="panel">
      <div class="auto-form-wrapper" style="padding: 20px;">
        <h1>Sign up!</h1>
        <% if @user.errors.any? %>
          <div class="alert alert-danger">
            <p>
              ERROR:
              <% @user.errors.full_messages.each do |msg| %>
                <p><%= msg %></p>
              <% end %>
            </p>
          </div>
        <% end %>
        <p>
          <%= form_for @user do |f| %>
            <p>
              <%= f.label :name %>
              <%= f.text_field :name, :class => 'form-control'  %>
            </p>
            <%= f.label :email %>
            <%= f.email_field :email, :class => 'form-control'  %>
          </p>
          <p>
            <%= f.label :password %>
            <%= f.password_field :password, :class => 'form-control'  %>
          </p>
          <p>
            <%= f.label :password_confirmation, 'Confirm password' %>
            <%= f.password_field :password_confirmation, :class => 'form-control' %>
          </p>
          <%= f.submit "Sign up!", :class => 'btn pale-button btn-lg btn-block login-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
