<!---------------------------pages#home----------------------------->
<div class='container-fluid container-table main-box'>
  <div class="greeting-container">
    <div class="greeting-row">
      <div class="greeting-content-main">
        <h2 style="font-weight: bold;"><%= @greeting %></h2>
      </div>
      <div class="greeting-content-secondary">
        <h3><strong>Try not to cry. <small class="text-muted">Cry a lot.</small></strong></h3>
        <p class="text-muted" style="font-style: italic;">Record your small code victories.</p>
      </div>
    </div>
  </div>
  <div class="row mx-auto">
    <% if notice.present? %>
      <div class="alert alert-success" style="padding-left: 30px; margin-top: 15px;">
        <%= notice %>
      </div>
    <% end %>
  </div>
  <!------ PINNED LOGIC - Responsive Grid - REUSE ME PLEASE -------->
  <div class="grid-cards-parent">
    <% @boards.each do |board| %>
      <div class="grid-card-board">
        <div class="card-header-mint"><%= link_to board.name.truncate(20), board %></div>
        <p>
          <%= link_to image_tag(board.image, :class => 'dash-item'), board if board.image.present? %>
        </p>
        <p><%= board.description.truncate(35) %></p>
        <p class="card-timestamp"  style="font-style: italic; padding-right: 14px;"><strong>Created: </strong><%= board.created_at.strftime(" %m/%d/%Y at %H:%M  ") %></p>
        <div class="btn-group btn-group-sm" role="group">
          <%= link_to 'Open', board, :class =>"btn card-links"%>
          <%= link_to 'Edit', edit_board_path(board), :class =>"btn card-links"%>
          <%= link_to 'Delete', board, method: :delete, data: { confirm: 'Are you sure? This will remove all lists inside!' }, :class => "btn card-links"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
