<!---------------------------pages#home----------------------------->
<h3>Try not to cry. <small class="text-muted">Cry a lot.</small></h3>
<p>Overcome coding obstacles and record your kills.</p>
<br>
<% if notice.present? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>
<div class="nav justify-content-end">
  <h2 style="padding-right: 20px;"><%= @current_user.name %>'s boards</h2>
</div>
<div class="container flex-column p-2"  style="padding-left: 10px;">
  <% @boards.in_groups_of(3, false).each do |group| %>
    <div class="row offset-sm-0">
      <% group.each do |board| %>
        <div class="p-2 col-sm">
          <div class="card text-dark bg-light mb-3 text-center" style="width: 18rem; height: 19rem;">
            <div class="card-header h3 card-heading"><%= board.name %></div>
            <div class="card-body flex-column">
              <p>Board ID: <%= board.id %></p>
              <%= image_tag board.image, :style =>"max-width: 200px; height: 90px;" if board.image.present? %>
              <br>
              <br>
              <p><%= board.description.truncate(30) %></p>
            </div>
            <div class="btn-group btn-group-sm" role="group">
              <%= link_to 'Open', board, :class =>"btn card-links"%>
              <%= link_to 'Edit', edit_board_path(board), :class =>"btn card-links"%>
              <%= link_to 'Delete', board, method: :delete, data: { confirm: 'Are you sure? This will remove all lists inside!' }, :class => "btn card-links"%>
            </div>
          </div>
        </div>
      <% end %>
      <% (3 - group.length).times.each do |fake_div| %>
        <div class="p-2 col-sm">
          <div class="card text-dark bg-light mb-3 text-center" style="width: 18rem; height: 19rem;">
            <div class="card-body flex-column" style='background-color: #d9dbdd; color: #fff;'>
              <br>
              <br>
              <br>
              <p><%= link_to image_tag("tear.png"), new_board_path %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
