<div class='container main-box'>
  <div class="container-fluid flex-column p-2 top-menu">
    <div class="row">
      <div class="col-8" style="padding-left: 30px;">
        <div class="heading-snippet">
          <h1><strong>Pinned snippets</strong></h1>
        </div>
      </div>
      <div class="col" style="text-align: end; padding-top: 1%;">
        <div class="row mx-auto">
          <div class="bottom-toolbar">
            <%= link_to 'Back to dashboard', dashboard_path, :class =>"btn card-links top-menu-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------ PINNED LOGIC - Responsive Grid - REUSE ME PLEASE -------->
  <div class='container-fluid container-table main-box'>
    <div class="grid-cards-parent">
      <% pincount = 0 %>
      <% @snippets.each do |snip| %>
        <% if snip.pinned? %>
          <% pincount += 1 %>
          <div class="grid-snip-cards">
            <div class="card-header-mint"><%= link_to snip.title.truncate(20), list_snippet_path(snip.list_id, snip.id) %></div>
            <p class="snip-description"><%= snip.description.truncate(35) %></p>
            <p>
              <pre><code class="mini-code-block container w-60"><%= snip.code_block.truncate(60) %></code></pre>
            </p>
            <span class="card-timestamp"><strong>Created: </strong><%= snip.created_at.strftime(" %m/%d/%Y at %H:%M  ") %></span>
            <div class="snippet-card-btns">
              <div class="btn-group btn-group-sm snippet-card-btn-group" role="group">
                <%= link_to 'Show', list_snippet_path(snip.list_id, snip.id), :class =>"btn card-links"%>
                <%= link_to 'Edit', edit_list_snippet_path(snip.list_id, snip.id), :class =>"btn card-links"%>
                <%= link_to 'Delete', list_snippet_path(snip.list_id, snip), method: :delete, data: { confirm: 'Are you sure? This will remove the snippet!' }, :class => "btn card-links"%>
              </div>
            </div>
          </div>
        <% end %>
      <%end %>
    </div>
    <% if pincount == 0 %>
      <div class="empty">
        <h3><strong>Nothing pinned.</strong></h3>
        <br>
        <%= link_to image_tag('void.png', :class => 'empty-img'), dashboard_path %>
      </div>
    <% end %>
  </div>
</div>
