<div class='container main-box'>
  <div class="container-fluid flex-column p-2 top-menu">
    <div class="row">
      <div class="col-8" style="padding-left: 30px;">
        <div class="heading-snippet">
          <h1>Pinned snippets</h1>
        </div>
      </div>
      <div class="col top-menu-btns">
        <div class="row mx-auto">
          <div class="top-menu-btns">
            <%= link_to 'Back to all boards', dashboard_path, :class =>"btn card-links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------ PINNED LOGIC - Responsive Grid - REUSE ME PLEASE -------->
  <div class="grid-cards-parent">
    <% @snippets.each do |snip| %>
      <% if snip.pinned? %>
        <div class="grid-card">
          <div class="card-header-mint"><%= link_to snip.title.truncate(20).upcase, list_snippet_path(snip.list_id, snip.id) %></div>
          <p class="card-description"><%= snip.description.truncate(35) %></p>
          <p>
            <pre><code class="mini-code-block"><%= snip.code_block.truncate(60) %></code></pre>
          </p>
          <p class="card-timestamp"><strong>Created: </strong><%= snip.created_at.strftime(" %m/%d/%Y at %H:%M  ") %></p>
        </div>
      <% end%>
    <% end %>
  </div>
</div>
