<!------------------------ Boards form ---------------------------->
<% if flash[:failmsg].present? %>
  <div class="alert alert-danger">
    <%= flash[:failmsg] %>
  </div>
<% end %>
<div class="container-fluid flex-column p-2 top-menu">
  <div class="row">
    <div class="col-8" style="padding-left: 30px; padding-top: 10px;">
      <% if @board.id.present? %>
        <div class="edit-snippet">
          <h1><strong>Editing Board</strong></h1>
        </div>
      <% else %>
        <h1><strong>New Board</strong></h1>
      <% end %>
    </div>
    <div class="col" style="text-align: end; padding-top: 1%;">
      <div class="row mx-auto">
        <div class="bottom-toolbar">
          <%= link_to 'Back to dashboard', dashboard_path, :class =>"btn card-links top-menu-btn" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="list-form-box">
  <div class="form-container">
    <div class="container-fluid flex-column">
      <div class="form-group">
        <%= form_with(model: board) do |form| %>
          <div class="field">
            <%= form.label :name%>
            <%= form.text_field :name, :maxlength => 20, :class => 'form-control' %>
          </div>
          <p>
            <div class="field">
              <%= form.label :image %>
              <%= form.select(:image, $logos.each {|key, value| [ key, value ] }) %>
            </div>
          </p>
          <p>
            <div class="field">
              <%= form.label :description%>
              <%= form.text_area :description, :maxlength => 120, size: "50x4", :class => 'form-control' %>
            </div>
          </p>
          <div class="field">
            <% if @board.id? %>
              <%= form.label :position %>
              <%= form.select :position, (1..@boards.all.count), :include_blank => true %>
            <% end %>
          </div>
          <p>
            <div class="actions">
              <%= form.submit 'Save board', :class => 'btn pale-button' %>
            </div>
          </p>
        <% end %>
      </div>
      <!---------------------- End boards form -------------------------->
    </div>
  </div>
</div>
</div>
